:root {
  --white: #ffffff;
  --black: #000000;
}

@keyframes arrowBounce {
  0% {
    transform: translateY(-6px);
  }
  50% {
    transform: translateY(12px);
  }
  100% {
    transform: translateY(-6px);
  }
}
@keyframes fadeIn {
  to {
    opacity: 1;
    pointer-events: auto;
  }
}
@keyframes rotateCircle {
  from {
    transform: translateY(-50%) rotate(0deg);
  }
  to {
    transform: translateY(-50%) rotate(360deg);
  }
}
@keyframes counterRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.app_page_home {
  width: 100%;
  overflow-x: hidden;
  position: relative;
}
.app_page_intro {
  display: flex;
  width: 100%;
  height: 100dvh;
  overflow: hidden;
  position: relative;
}
.app_intro_content {
  padding: 2rem 7rem;
  width: 50%;
  display: flex;
  height: 100dvh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.app_intor_inside {
  display: flex;
  width: 100%;
  gap: 2rem;
  flex-direction: column;
}
.app_punct_line {
  display: flex;
  width: 100%;
  gap: 2rem;
  opacity: 0.4;
}
.app_punct_line > span {
  position: relative;
  font-size: 0.9rem;
  font-weight: 600;
  font-family: var(--font-gilroy);
}
.app_punct_line > span:after {
  content: "";
  position: absolute;
  top: 6px;
  right: -1.12rem;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: var(--black);
}
.app_punct_line > span:last-child:after {
  display: none;
}
.app_intor_inside h1 {
  font-size: 3.2rem;
  font-weight: 700;
  font-family: var(--font-gilroy);
  margin-bottom: 26px;
  display: flex;
  flex-wrap: wrap;
}
.app_char {
  display: flex;
  will-change: transform, opacity;
}
.app_intor_inside p {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6;
  font-family: var(--font-sora);
}
.app_hero_scroll {
  bottom: 4rem;
  left: 7rem;
  display: flex;
  gap: 10px;
  align-items: center;
  opacity: 0;
  position: absolute;
  pointer-events: none;
  animation: fadeIn 1s ease forwards;
  animation-delay: 3s;
}
.app_hero_scroll svg {
  animation: arrowBounce 1.5s ease-in-out infinite;
}
.app_intro_hero_banner {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  display: flex;
  overflow: hidden;
  perspective: 800px;
  background-color: var(--white);
  z-index: 2;
}
.app_hero_banner_columns {
  position: absolute;
  padding: 0px 20px;
  width: 100vw;
  height: 200svh;
  display: grid;
  grid-column-gap: 1.4vw;
  grid-row-gap: 1.4vw;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-flow: column;
  transform-origin: center center;
  transform: rotate(36deg);
  transform-origin: 50% 0;
  transform-style: preserve-3d;
  z-index: 2;
}
.app_column {
  flex: 1.2;
  gap: 1.4vw;
  opacity: 0;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
}
.app_image_wrapper {
  display: flex;
  position: relative;
  width: 100%;
  border-radius: 6px;
  overflow: hidden;
  box-shadow:
    0 0 0 0.5px #0000001a,
    18px 26px 64px -12px #0a0d1229;
}
.app_image_wrapper picture {
  display: flex;
  width: 100%;
  height: 100%;
}
.app_image_wrapper img {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 6px;
  border: 2px solid var(--white);
  outline: 0.5px solid #0000001a;
}
.app_hero_banner_bg {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: url("/line.svg");
  background-repeat: repeat;
  z-index: 1;
}
.app_page_main_links {
  display: flex;
  width: 100%;
  height: 100dvh;
  position: relative;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 60px;
  gap: 2.2rem;
}
.app_main_link_info {
  display: flex;
  width: 100%;
  opacity: 0.4;
  gap: 2rem;
  position: relative;
  justify-content: center;
}
.app_main_link_info > span {
  position: relative;
  font-size: 0.9rem;
  font-weight: 600;
  font-family: var(--font-gilroy);
}
.app_main_link_info > span:after {
  content: "";
  position: absolute;
  top: 6px;
  right: -1.12rem;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: var(--black);
}
.app_main_link_info > span:last-child:after {
  display: none;
}
.app_page_main_links > ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
.app_page_main_links > ul > li {
  display: flex;
  gap: 1rem;
}
.app_page_main_links > ul > li > a {
  display: flex;
  align-items: center;
  font-size: 4rem;
  font-family: var(--font-gilroy);
  font-weight: 700;
  gap: 20px;
  color: inherit;
  text-decoration: none;
  transition: color 0.3s ease;
}
.app_page_main_links > ul > li > a > span {
  width: 50px;
  height: 50px;
  position: relative;
  top: -4px;
  flex-shrink: 0;
  font-size: 1.6rem;
  margin-right: 10px;
  text-align: center;
  line-height: 54px;
  border-radius: 50%;
  border: 1px solid var(--black);
  transition: border-color 0.3s ease;
}
.app_page_main_links > ul > li > a > svg {
  width: 30px;
  height: 30px;
  margin-left: 30px;
  flex-shrink: 0;
  transition: stroke 0.3s ease;
}
.app_page_main_links > ul:has(li:hover) li:not(:hover) a {
  color: #aaa;
  opacity: 0.5;
}
.app_page_main_links > ul li:hover a {
  color: var(--black);
}
.app_page_main_links > ul li:hover a span,
.app_page_main_links > ul li:hover a svg {
  border-color: var(--black);
  stroke: var(--black);
}
.app_middle_line {
  position: absolute;
  top: 60%;
  left: -8%;
  width: 120%;
  height: 1px;
  background-color: #efefef;
  transform: translateY(-50%) rotate(3deg);
  z-index: -2;
}
.app_rotate_line {
  position: absolute;
  top: 28%;
  left: -14%;
  width: 160%;
  height: 1px;
  transform: translateY(-50%) rotate(-18deg);
  background-color: #efefef;
  z-index: -2;
}
.app_spot_light {
  position: relative;
  width: 100%;
  height: 100svh;
  padding: 2rem;
  overflow: hidden;
}
.app_project_images {
  position: absolute;
  top: 0;
  left: 44%;
  width: 46%;
  padding: 26svh 0;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  z-index: -1;
}
.app_project_img {
  width: 100%;
  aspect-ratio: 16/9;
  opacity: 0.5;
  transition: all 0.3s ease;
  overflow: hidden;
}
.app_project_names {
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  display: flex;
  gap: 8px;
  width: 20%;
  flex-direction: column;
  align-items: flex-start;
}
.app_project_names p {
  color: #b0b0b0;
  font-size: 1.26rem;
  font-family: var(--font-gilroy);
  font-weight: 500;
  transition: color 0.3s ease;
  position: relative;
}
.app_project_names p:after {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  left: -21px;
  top: 8px;
  border-radius: 50%;
  background-color: #b0b0b0;
}
.app_project_index h1,
.app_project_names p {
  will-change: transform;
}
.app_project_index h1 {
  font-size: 3.4rem;
  font-family: var(--font-sora);
  font-weight: 400;
}
.app_project_index h1 > span {
  font-size: 1.2rem;
  font-weight: 600;
  font-family: var(--font-gilroy);
  position: relative;
  opacity: 0.5;
}
.app_project_heading {
  position: absolute;
  top: calc(50% + 1px);
  left: 11.5rem;
  opacity: 0.4;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  transform: translateY(-50%);
}
.app_project_heading > span {
  position: relative;
  font-size: 0.9rem;
  font-weight: 600;
  font-family: var(--font-gilroy);
}
.app_project_heading > span:after {
  content: "";
  position: absolute;
  top: 6px;
  left: -0.8rem;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: var(--black);
}
.app_line_center,
.app_line_top,
.app_line_left,
.app_line_left_two {
  position: absolute;
  background: #efefef;
  z-index: -4;
}
.app_line_center {
  top: 50%;
  left: 0px;
  width: 100%;
  height: 1px;
  transform: translateY(-50%);
}
.app_line_top {
  width: 100%;
  height: 1px;
  top: 0px;
  left: 0px;
}
.app_line_left,
.app_line_left_two {
  height: 120%;
  width: 1px;
  top: 0px;
}
.app_line_left {
  left: 9.3%;
}
.app_line_left_two {
  right: 23%;
}
.app_quotes {
  width: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  height: calc(100dvh - 1px);
  align-items: center;
  justify-content: center;
  border-top: 1px solid #efefef;
}
.app_inside_quote {
  width: 70rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.app_inside_quote h2 {
  font-size: 4.6rem;
  font-weight: 700;
  font-family: var(--font-gilroy);
  margin-bottom: 2rem;
}
.app_inside_quote p {
  color: #8d8d8d;
  font-size: 1.2rem;
  font-family: var(--font-sora);
  font-weight: 400;
  line-height: 1.8;
}
.big_circle {
  top: 36%;
  right: -400px;
  width: 800px;
  height: 800px;
  opacity: 0.3;
  animation: rotateCircle 40s linear infinite;
}
.medium_circle {
  top: 36%;
  right: -250px;
  width: 500px;
  height: 500px;
  opacity: 0.7;
  animation: rotateCircle 70s linear infinite;
}
.app_quote_circle {
  position: absolute;
  transform: translateY(-50%);
  border-radius: 50%;
  border: 1px solid #dfdfdf;
  z-index: -1;
}
.app_quote_circle > span {
  position: absolute;
  width: 80px;
  height: 80px;
}
.big_circle.app_quote_circle > span {
  animation: counterRotate 40s linear infinite;
}
.medium_circle.app_quote_circle > span {
  animation: counterRotate 70s linear infinite;
}
.app_quote_circle img {
  width: 100%;
  object-fit: cover;
}
.app_quote_circle > span:nth-child(1) {
  top: -40px;
  left: 50%;
  margin-left: -40px;
}
.app_quote_circle > span:nth-child(2) {
  top: 50%;
  right: -40px;
  margin-top: -40px;
}
.app_quote_circle > span:nth-child(3) {
  bottom: -40px;
  left: 50%;
  margin-left: -40px;
}
.app_quote_circle > span:nth-child(4) {
  top: 50%;
  left: -40px;
  margin-top: -40px;
}
.app_quote_circle > span:nth-child(5) {
  top: 10%;
  left: 8%;
}
.app_quote_circle > span:nth-child(6) {
  top: 10%;
  right: 8%;
}
.app_quote_circle > span:nth-child(7) {
  bottom: 10%;
  right: 8%;
}
.app_quote_circle > span:nth-child(8) {
  bottom: 10%;
  left: 8%;
}
