:root {
  --white: #ffffff;
  --black: #000000;
}

@keyframes arrowBounce {
  0% {
    transform: translateY(-6px);
  }
  50% {
    transform: translateY(12px);
  }
  100% {
    transform: translateY(-6px);
  }
}
@keyframes fadeIn {
  to {
    opacity: 1;
    pointer-events: auto;
  }
}

.app_page_home {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.app_page_intro {
  display: flex;
  width: 100%;
  height: 100dvh;
  overflow: hidden;
}
.app_intro_content {
  padding: 2rem 7rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.app_intor_inside {
  display: flex;
  width: 100%;
  gap: 2rem;
  flex-direction: column;
}
.app_punct_line {
  display: flex;
  width: 100%;
  gap: 2rem;
  opacity: 0.4;
}
.app_punct_line > span {
  position: relative;
  font-size: 0.9rem;
  font-weight: 600;
  font-family: var(--font-gilroy);
}
.app_punct_line > span:after {
  content: "";
  position: absolute;
  top: 6px;
  right: -1.12rem;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: var(--black);
}
.app_punct_line > span:last-child:after {
  display: none;
}
.app_intor_inside h1 {
  font-size: 3.3rem;
  font-weight: 700;
  font-family: var(--font-gilroy);
  margin-bottom: 26px;
}
.app_intor_inside p {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6;
  font-family: var(--font-sora);
}
.app_hero_scroll {
  bottom: 4rem;
  left: 7rem;
  display: flex;
  gap: 10px;
  align-items: center;
  opacity: 0;
  position: absolute;
  pointer-events: none;
  animation: fadeIn 1s ease forwards;
  animation-delay: 3s;
}
.app_hero_scroll svg {
  animation: arrowBounce 1.5s ease-in-out infinite;
}
.app_intro_hero_banner {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  display: flex;
  overflow: hidden;
  perspective: 800px;
  background-color: var(--white);
  z-index: 2;
}
.app_hero_banner_columns {
  position: absolute;
  padding: 0px 20px;
  width: 100vw;
  height: 200vh;
  display: grid;
  grid-column-gap: 1.4vw;
  grid-row-gap: 1.4vw;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-flow: column;
  transform-origin: center center;
  transform: rotate(36deg);
  transform-origin: 50% 0;
  transform-style: preserve-3d;
  z-index: 2;
}
.app_column {
  flex: 1.2;
  gap: 1.4vw;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
}
.app_image_wrapper {
  display: flex;
  position: relative;
  width: 100%;
  border-radius: 6px;
  overflow: hidden;
  box-shadow:
    0 0 0 0.5px #0000001a,
    18px 26px 64px -12px #0a0d1229;
}
.app_image_wrapper picture {
  display: flex;
  width: 100%;
  height: 100%;
}
.app_image_wrapper img {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 6px;
  border: 2px solid var(--white);
  outline: 0.5px solid #0000001a;
}
.app_hero_banner_bg {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: url("/line.svg");
  background-repeat: repeat;
  z-index: 1;
}

.app_page_main_links {
  display: flex;
  width: 100%;
  height: 100dvh;
}
.app_page_main_links > ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.app_page_main_links > ul > li {
  display: flex;
  gap: 1rem;
}
