@keyframes floatUpDown {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-18px);
  }
  100% {
    transform: translateY(0px);
  }
}

.mobileHeaderWrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 4rem 1rem 0;
  margin-bottom: 4rem;
}
.app_nav_logo {
  width: 8rem;
  display: flex;
}
.app_nav_logo > svg {
  width: 100%;
  height: auto;
}
.app_nav_contact {
  display: flex;
}
.app_nav_contact a {
  display: flex;
  font-size: 0.76rem;
  font-weight: 500;
  font-family: var(--font-sora);
  color: var(--white);
  padding: 0 15px;
  border-radius: 6px;
  height: 32px;
  line-height: 32px;
  background: var(--blue);
}
.app_page_intro {
  display: flex;
  width: 100%;
  padding: 0.6rem 1rem;
}
.app_intor_inside {
  display: flex;
  width: 100%;
  gap: 1.6rem;
  flex-direction: column;
}
.app_intor_inside h1 {
  font-size: 1.86rem;
  font-weight: 700;
  font-family: var(--font-gilroy);
  margin-bottom: 0px;
  display: flex;
  flex-wrap: wrap;
}
.app_punct_line {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.4rem;
}
.app_punct_line > span {
  position: relative;
  font-size: 1rem;
  font-weight: 600;
  padding-left: 16px;
  font-family: var(--font-gilroy);
}
.app_punct_line > span:after {
  content: "";
  position: absolute;
  top: 7px;
  left: 0rem;
  width: 3px;
  height: 3px;
  opacity: 0.7;
  border-radius: 50%;
  background: var(--black);
}
.app_punct_line > span:nth-child(1) {
  color: #db073d;
}
.app_punct_line > span:nth-child(2) {
  color: #dba507;
}
.app_punct_line > span:nth-child(3) {
  color: #168039;
}
.app_intor_inside p {
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.6;
  font-family: var(--font-sora);
  margin-top: 1.4rem;
}
.app_intro_hero_banner {
  display: flex;
  width: 100%;
  position: relative;
  padding: 5rem 1rem;
  margin-top: 1rem;
  background-color: #f8f8f8;
  background-image: url("/line.svg");
  background-repeat: repeat;
}
.app_intro_hero_banner:after,
.app_intro_hero_banner:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 50px;
  left: 0px;
  background: #ffffff;
}
.app_intro_hero_banner:before {
  top: 0px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 90%
  );
}
.app_intro_hero_banner:after {
  bottom: 0px;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 90%
  );
}
.app_hero_banner_columns {
  width: 100%;
  display: grid;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: column;
  transform-origin: center center;
  transform-origin: 50% 0;
  transform-style: preserve-3d;
  z-index: 2;
}
.app_column {
  flex: 1.2;
  gap: 0.5rem;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  animation: floatUpDown 5s ease-in-out infinite;
}
.app_column:nth-child(1) {
  margin-top: 1.2rem;
  animation-duration: 6s;
}
.app_column:nth-child(2) {
  animation-duration: 7s;
  animation-delay: 0.5s;
}
.app_column:nth-child(3) {
  margin-top: 1.8rem;
  animation-duration: 6.5s;
  animation-delay: 1s;
}
.app_image_wrapper {
  display: flex;
  position: relative;
  width: 100%;
  border-radius: 6px;
  overflow: hidden;
  box-shadow:
    0 0 0 0.5px #0000001a,
    18px 26px 64px -12px #0a0d1229;
}
.app_image_wrapper picture {
  display: flex;
  width: 100%;
  height: 100%;
}
.app_image_wrapper img {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 6px;
  border: 2px solid var(--white);
  outline: 0.5px solid #0000001a;
}
.app_spot_light {
  position: relative;
  width: 100%;
  padding: 2rem 1rem;
}
.app_project_images {
  width: 100%;
  padding: 5rem 0 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  z-index: -1;
}
.app_project_img {
  width: 100%;
  display: flex;
  flex-direction: column;
  aspect-ratio: 16/9;
}
.app_project_img picture {
  width: 100%;
  display: flex;
}
.app_project_img picture > img {
  width: 100%;
  border-radius: 8px;
}
.app_project_img p {
  color: #505050;
  font-size: 1.14rem;
  font-family: var(--font-gilroy);
  font-weight: 600;
  position: relative;
  margin-top: 8px;
}
.app_project_names p:after {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  left: -21px;
  top: 8px;
  border-radius: 50%;
  background-color: #b0b0b0;
}
.app_project_index h1,
.app_project_names p {
  will-change: transform;
}
.app_project_index h1 {
  font-size: 3.4rem;
  font-family: var(--font-sora);
  font-weight: 400;
}
.app_project_index h1 > span {
  font-size: 1.2rem;
  font-weight: 600;
  font-family: var(--font-gilroy);
  position: relative;
  opacity: 0.5;
}
.app_project_heading {
  width: 100%;
  gap: 2rem;
  display: flex;
  justify-content: center;
}
.app_project_heading > span {
  position: relative;
  font-size: 0.9rem;
  font-weight: 600;
  font-family: var(--font-gilroy);
}
.app_project_heading > span:after {
  content: "";
  position: absolute;
  top: 7px;
  opacity: 0.3;
  right: -1.1rem;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: var(--black);
}
.app_project_heading > span:nth-child(1) {
  color: #168039;
}
.app_project_heading > span:nth-child(2) {
  color: #f2b705;
}
.app_project_heading > span:nth-child(3) {
  color: #2c1dff;
}
.app_project_heading > span:nth-child(3):after {
  display: none;
}
